<form [formGroup]="orgForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="welcome-message">
        <p>
            Welcome to BimaSoft! We're revolutionizing insurance for companies,
            agents, brokers, and customers across Tanzania. Your account is free, and
            we are excited to have you on board!
        </p>
    </div>

    <!-- Organization Information -->
    <h3 class="section_title">Organization Information</h3>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Legal Name</mat-label>
        <input matInput formControlName="legalName" placeholder="Enter the official legal name of your organization"
            required [matAutocomplete]="auto"
        />
        <mat-error *ngIf="orgForm.controls['legalName'].hasError('required')">
            Legal name is required.
        </mat-error>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let company of filteredCompanies$ | async" [value]="company.name">
                {{ company.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Business Registration Number (BRELA)</mat-label>
        <input matInput formControlName="brelaNumber" placeholder="Enter the BRELA number, provided upon registration"
            required />
        <mat-error *ngIf="orgForm.controls['brelaNumber'].hasError('required')">
            BRELA number is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Taxpayer Identification Number (TIN)</mat-label>
        <input matInput formControlName="tinNumber" placeholder="Enter your TIN number, issued by the tax authority"
            required />
        <mat-error *ngIf="orgForm.controls['tinNumber'].hasError('required')">
            TIN number is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" required>
            <mat-option value="Tanzania">Tanzania</mat-option>
            <!-- Additional countries can be added here -->
        </mat-select>
        <mat-error *ngIf="orgForm.controls['country'].hasError('required')">
            Country is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>City</mat-label>
        <mat-select formControlName="city" required>
            <mat-option value="Dar es Salaam">Dar es Salaam</mat-option>
            <mat-option value="Arusha">Arusha</mat-option>
            <mat-option value="Dodoma">Dodoma</mat-option>
            <mat-option value="Mwanza">Mwanza</mat-option>
            <mat-option value="Mbeya">Mbeya</mat-option>
            <mat-option value="Tanga">Tanga</mat-option>
            <mat-option value="Morogoro">Morogoro</mat-option>
            <!-- More cities can be added here -->
        </mat-select>
        <mat-error *ngIf="orgForm.controls['city'].hasError('required')">
            City is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>P.O. Box</mat-label>
        <input matInput formControlName="poBox" placeholder="e.g. P.O.Box 77016" />
        <mat-error *ngIf="orgForm.controls['poBox'].hasError('required')">
            P.O. Box is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Floor/Building Name</mat-label>
        <input matInput formControlName="floorBuilding" placeholder="e.g. 06th Floor, Diamond Plaza" />
        <mat-error *ngIf="orgForm.controls['floorBuilding'].hasError('required')">
            Floor/Building name is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" placeholder="e.g. Mirambo Street" required />
        <mat-error *ngIf="orgForm.controls['street'].hasError('required')">
            Street is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact Email</mat-label>
        <input matInput type="email" formControlName="contactEmail" placeholder="Enter a valid contact email"
            required />
        <mat-error *ngIf="orgForm.controls['contactEmail'].hasError('required')">
            Contact email is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact Phone</mat-label>
        <input matInput type="tel" formControlName="contactPhone" placeholder="Enter a valid phone number" required />
        <mat-error *ngIf="orgForm.controls['contactPhone'].hasError('required')">
            Contact phone is required.
        </mat-error>
    </mat-form-field>

    <!-- Regulatory & Compliance -->
    <h3 class="section_title">Regulatory & Compliance</h3>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>TIRA License Number (if applicable)</mat-label>
        <input matInput formControlName="tiraLicense"
            placeholder="Enter TIRA License Number if applicable (optional)" />
    </mat-form-field>

    <!-- Key Contact Person -->
    <h3 class="section_title">Key Contact Person</h3>

    <div class="name-fields">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="contactPersonFirstName" placeholder="Enter the first name" required />
            <mat-error *ngIf="orgForm.controls['contactPersonFirstName'].hasError('required')">
                First name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="contactPersonLastName" placeholder="Enter the last name" required />
            <mat-error *ngIf="orgForm.controls['contactPersonLastName'].hasError('required')">
                Last name is required.
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Role/Designation</mat-label>
        <input matInput formControlName="contactPersonRole"
            placeholder="Enter the role or designation of the contact person" required />
        <mat-error *ngIf="orgForm.controls['contactPersonRole'].hasError('required')">
            Role/designation is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="contactPersonEmail" placeholder="Enter contact person's email"
            required />
        <mat-error *ngIf="orgForm.controls['contactPersonEmail'].hasError('required')">
            Contact person's email is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" formControlName="contactPersonPhone"
            placeholder="Enter contact person's phone number" required />
        <mat-error *ngIf="orgForm.controls['contactPersonPhone'].hasError('required')">
            Contact person's phone number is required.
        </mat-error>
    </mat-form-field>

    <!-- Insurance Services Offered -->
    <h3 class="section_title">Insurance Services Offered</h3>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Types of Insurance</mat-label>
        <mat-select formControlName="insuranceTypes" multiple required>
            <mat-option *ngFor="let type of insuranceOptions" [value]="type.value">
                {{ type.viewValue }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="orgForm.controls['insuranceTypes'].hasError('required')">
            At least one insurance type must be selected.
        </mat-error>
    </mat-form-field>

    <!-- Payment Details -->
    <h3 class="section_title">Payment Details</h3>

    <app-payment-method (paymentMethodsChanged)="handlePaymentMethodsChange($event)">
    </app-payment-method>

    <!-- Admin Account Setup -->
    <h3 class="section_title">Admin Account Setup</h3>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Primary Admin Username</mat-label>
        <input matInput formControlName="adminUsername" placeholder="Enter the admin username" required />
        <mat-error *ngIf="orgForm.controls['adminUsername'].hasError('required')">
            Admin username is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Primary Admin Email</mat-label>
        <input matInput type="email" formControlName="adminEmail" placeholder="Enter the admin email" required />
        <mat-error *ngIf="orgForm.controls['adminEmail'].hasError('required')">
            Admin email is required.
        </mat-error>
    </mat-form-field>

    <!-- Information section below the form -->
    <div class="form-info mt-4">
        <p>
            By submitting this form, your request will be sent for approval and an
            account will be created upon approval.
        </p>
    </div>

    <div class="m-t-12">
        <button mat-flat-button color="primary" type="submit" [disabled]="orgForm.invalid">
            {{ isEdit ? "Update Organization" : "Create Organization" }}
        </button>
    </div>
</form>