<form [formGroup]="corporateForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="businessType">Business Type</label>
    <input id="businessType" type="text" formControlName="businessType" />
    <div
      *ngIf="
        corporateForm.get('businessType')?.touched &&
        corporateForm.get('businessType')?.invalid
      "
    >
      Business Type is required.
    </div>
  </div>

  <div class="form-group">
    <label for="countryOfRegistration">Country of Registration</label>
    <input
      id="countryOfRegistration"
      type="text"
      formControlName="countryOfRegistration"
    />
    <div
      *ngIf="
        corporateForm.get('countryOfRegistration')?.touched &&
        corporateForm.get('countryOfRegistration')?.invalid
      "
    >
      Country of Registration is required.
    </div>
  </div>

  <div class="form-group">
    <label for="registrationDate">Registration Date</label>
    <input
      id="registrationDate"
      type="date"
      formControlName="registrationDate"
    />
    <div
      *ngIf="
        corporateForm.get('registrationDate')?.touched &&
        corporateForm.get('registrationDate')?.invalid
      "
    >
      Registration Date is required.
    </div>
  </div>

  <div class="form-group">
    <label for="contactPerson">Contact Person</label>
    <input id="contactPerson" type="text" formControlName="contactPerson" />
    <div
      *ngIf="
        corporateForm.get('contactPerson')?.touched &&
        corporateForm.get('contactPerson')?.invalid
      "
    >
      Contact Person is required and must be at least 3 characters long.
    </div>
  </div>

  <div class="form-group">
    <label for="vrnOrGst">VRN/GST</label>
    <input id="vrnOrGst" type="text" formControlName="vrnOrGst" />
    <div
      *ngIf="
        corporateForm.get('vrnOrGst')?.touched &&
        corporateForm.get('vrnOrGst')?.invalid
      "
    >
      VRN/GST is required.
    </div>
  </div>

  <div class="form-group">
    <label for="registrationNumber">Registration Number</label>
    <input
      id="registrationNumber"
      type="text"
      formControlName="registrationNumber"
    />
    <div
      *ngIf="
        corporateForm.get('registrationNumber')?.touched &&
        corporateForm.get('registrationNumber')?.invalid
      "
    >
      Registration Number is required.
    </div>
  </div>

  <button type="submit" [disabled]="corporateForm.invalid">Submit</button>
</form>
